@import "../../utilities/index";

.search-result{
  height:350px;
  border:1px solid black;
  margin-bottom:2%;
  padding-left:15px;
  @include bp(small){
    float:left;
    @include rowMachine(3,2%)
  }
  @include bp(tablet){
    @include rowMachine(4,2%)
  }
  @include bp(extralarge){
    @include rowMachine(5,2%)
  }
}
