@import "../../utilities/index";




.footer{
  clear:both;
  height:200px;
  background-color:#f2f2f2;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footer-menu{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  position: relative;
  top:25px;
  &__item{
    margin-right:10px;
    margin-left:10px;
    display:flex;
    display:inline-block;
    font-size:rem(16px);
    color:#949494;
    font-weight:300;
  }
  &__item:hover{
    color:black;
  }
}
.footer-social{
  &__icon{
      margin:rem(15px);
  }
}




// Example usage of mixins/variables etc.
// .search-result{
//   height:350px;
//   border:1px solid black;
//   margin-bottom:2%;
//   padding-left:15px;
//   @include bp(small){
//     float:left;
//     @include rowMachine(3,2%)
//   }
//   @include bp(tablet){
//     @include rowMachine(4,2%)
//   }
//   @include bp(extralarge){
//     @include rowMachine(5,2%)
//   }
// }
