@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
/* Mixin for fluid floating boxes*/
/* input,*/
/* textarea {*/
/*     @include input-placeholder {*/
/*         color: $grey;*/
/*     }*/
/* }*/
/* Rem mixin*/
/* ----*/
/* libsass (v3.2.5)*/
/* ----*/
/* list-separator polyfill by Hugo Giraudel (https://sass-compatibility.github.io/#list_separator_function)*/
*, *:before, *:after {
  box-sizing: border-box; }

body, html {
  margin: 0 auto;
  width: 95%;
  font-family: "Lato", sans-serif;
  font-size: 16px; }
  @media (min-width: 768px) {
    body, html {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    body, html {
      font-size: 20px; } }
